graph {
	fill-color: white;
}

edge {
	fill-color: black;
}

node {
	fill-mode: dyn-plain;
	size: 15px;
}

node.nenhum {
	size: 8px;
	fill-color: black;
}

node.elo {
	fill-color: green;
}

node.rele {
	fill-color: orange;
}

node.religador {
	fill-color: blue;
}

node.chave {
	fill-color: red;
}

node.equipamentoSelecionado {
	size: 15px, 15px;
	shape: box;
}

node.selecionado {
	size: 25px, 25px;
	fill-color: black;
}